<br>

<div class="card">
  <div class="card-body">
    <% for comment in @comments %>

      <% if comment.kind_of?(InternalEvent) %>
        <div class="tile" id="comment_<%= comment.id %>">
          <div class="tile-content">
            <p class="tile-subtitle">
              <%= l comment.created_at, format: :short %>
              -
              <%= comment.desc %>
            </p>
          </div>
        </div>
      <% else %>
        <div class="tile" id="comment_<%= comment.id %>">
          <div class="tile-content">
            <p>
              <span class="tile-title text-bold"><%= comment.user.email %></span>
              <span class="tile-subtitle">
                <%= l comment.created_at, format: :short %>
              </span>
            </p>

            <%= comment.parsed_content.html_safe %>
          </div>
        </div>
      <% end %>

      <div class="divider"></div>
    <% end %>

    <%= form_for @comment, url: create_task_comment_path(@project.slug, @task.id) do |f| %>
      <div class="form-group">
        <%= f.label :content, 'Comment task', class: 'form-label text-bold' %>
        <%= f.text_area :content, class: 'form-input', rows: 4, placeholder: 'Your comment' %>
        <small>Markdown accepted</small>
      </div>

      <div class="form-group">
        <%= f.submit 'Send', class: 'btn btn-primary float-right' %>
      </div>

      <br>
      <br>
    <% end %>
  </div>
</div>
