<%= render partial: 'partials/project_menu' %>

<div class="container">
  <div class="columns">
    <div class="column col-9">
      <div class="card">
        <div class="card-header">
          <%= link_to new_task_path(@project.slug), class: 'btn btn-default' do %>
            <i class="fa fa-plus"></i>
            New task
          <% end %>
        </div>

        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Milestone</th>
                <th>Labels</th>
                <th>Assigned to</th>
              </tr>
            </thead>
            <tbody>
              <% for task in @tasks %>
                <tr>
                  <td><%= link_to task.parsed_name, task_path(@project.slug, task.id) %></td>
                  <td>
                    <% if task.milestone %>
                      <%
                        nparams              = params.dup.permit!.to_h
                        nparams[:milestones] = [task.milestone.id]
                      %>

                      <%= link_to nparams do %>
                        <%= task.milestone.name %>
                      <% end %>
                      --
                      <%= l task.milestone.deadline, format: :short %>
                    <% else %>
                      None
                    <% end %>
                  </td>
                  <td>
                    <% task.task_labels.each do |label| %>
                      <%= task_label label.name, label.color_code %>
                    <% end %>
                  </td>
                  <td>
                    <% if task.assigned_id == current_user.id %>
                      <div class="text-bold">
                        <%= link_to "#{task.assigned.username} (me)", user_path(task.assigned.username) %>
                      </div>
                    <% else %>
                      <%= link_to task.assigned.username, user_path(task.assigned.username) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= paginate @tasks %>
        </div>
      </div>
    </div>

    <div class="column col-3">
      <ul class="menu">

        <li class="divider" data-content="Filters"></li>

        <li class="menu-item">
          <div class="form-group">
            <% if params[:closed] == '1' %>
              <%= link_to params.merge(closed: nil).permit! do %>
                <label class="form-checkbox">
                  <input type="checkbox" checked />
                  <i class="form-icon"></i> Closed
                </label>
              <% end %>
            <% else %>
              <%= link_to params.merge(closed: 1).permit! do %>
                <label class="form-checkbox">
                  <input type="checkbox" />
                  <i class="form-icon"></i> Closed
                </label>
              <% end %>
            <% end %>
          </div>
        </li>

        <li class="divider" data-content="Assignee"></li>

        <li class="menu-item">
          <div class="form-group">

            <% if params[:only_me] == '1' %>
              <%= link_to params.merge(only_me: nil).permit! do %>
                <label class="form-checkbox">
                  <input type="checkbox" checked />
                  <i class="form-icon"></i> Assigned to me
                </label>
              <% end %>
            <% else %>
              <%= link_to params.merge(only_me: 1).permit! do %>
                <label class="form-checkbox">
                  <input type="checkbox" />
                  <i class="form-icon"></i> Assigned to me
                </label>
              <% end %>
            <% end %>

          </div>
        </li>


        <li class="divider" data-content="Labels"></li>

        <% @project.task_labels.each do |label| %>

          <li class="menu-item">
            <div class="form-group">
              <% if params[:labels] && params[:labels].kind_of?(Array) && params[:labels].include?(label.id.to_s) %>
                <%
                  nparams = params.dup.permit!.to_h
                  nparams[:labels].delete(label.id.to_s)
                %>
                <%= link_to nparams do %>
                  <label class="form-checkbox">
                    <input type="checkbox" checked />
                    <i class="form-icon"></i> <%= task_label label.name, label.color_code %>
                  </label>
                <% end %>
              <% else %>
                <%
                  nparams          = params.dup.permit!.to_h
                  nparams[:labels] = nparams[:labels] || []
                  nparams[:labels] << label.id
                %>
                <%= link_to nparams do %>
                  <label class="form-checkbox">
                    <input type="checkbox" />
                    <i class="form-icon"></i> <%= task_label label.name, label.color_code %>
                  </label>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>

        <li class="divider" data-content="Milestones"></li>

        <% @project.milestones.each do |milestone| %>

          <li class="menu-item">
            <div class="form-group">
              <% if params[:milestones] && params[:milestones].kind_of?(Array) && params[:milestones].include?(milestone.id.to_s) %>
                <%
                  nparams = params.dup.permit!.to_h
                  nparams[:milestones].delete(milestone.id.to_s)
                %>
                <%= link_to nparams do %>
                  <label class="form-checkbox">
                    <input type="checkbox" checked />
                    <i class="form-icon"></i> <%= milestone.name %>
                  </label>
                <% end %>
              <% else %>
                <%
                  nparams              = params.dup.permit!.to_h
                  nparams[:milestones] = nparams[:milestones] || []
                  nparams[:milestones] << milestone.id
                %>
                <%= link_to nparams do %>
                  <label class="form-checkbox">
                    <input type="checkbox" />
                    <i class="form-icon"></i> <%= milestone.name %>
                  </label>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
