<div class="container" id="project_menu_container">
  <div class="columns">
    <div class="column col-12">
      <ul class="tab tab-block">

        <% if params[:controller] == 'projects' && params[:action] == 'show' %>
          <li class="tab-item active">
        <% else %>
          <li class="tab-item">
        <% end %>
          <%= link_to project_path(@project.slug) do %>
            <i class="fa fa-dashboard"></i>
            Project
          <% end %>
        </li>

        <% if params[:controller] == 'tasks' %>
          <li class="tab-item active">
        <% else %>
          <li class="tab-item">
        <% end %>
          <%= link_to tasks_path(@project.slug) do %>
            <i class="fa fa-tasks"></i>
            Tasks
          <% end %>
        </li>

        <% if params[:controller] == 'milestones' %>
          <li class="tab-item active">
        <% else %>
          <li class="tab-item">
        <% end %>
          <%= link_to milestones_path(@project.slug) do %>
            <i class="fa fa-clock-o"></i>
            Milestones
          <% end %>
        </li>

        <% if params[:controller] == 'documents' %>
          <li class="tab-item active">
        <% else %>
          <li class="tab-item">
        <% end %>
          <%= link_to documents_path(@project.slug) do %>
            <i class="fa fa-file"></i>
            Documents
          <% end %>
        </li>

        <% if @settings_controller %>
          <li class="tab-item active">
        <% else %>
          <li class="tab-item">
        <% end %>

        <%= link_to settings_members_path(@project.slug) do %>
          <i class="fa fa-cogs"></i>
          Settings
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
