<ul class="breadcrumb">

  <% if params[:controller] == 'dashboard' && params[:action] == 'index' %>
    <li class="breadcrumb-item">
      <%= link_to 'Dashboard', root_path %>
    </li>
  <% end %>

  <% if params[:controller] == 'projects' && params[:action] == 'show' %>
    <li class="breadcrumb-item">
      <%= link_to @project.name, project_path(@project.slug) %>
    </li>
  <% end %>

  <% if params[:controller] == 'projects' && params[:action] == 'new' %>
    <li class="breadcrumb-item">
      <%= link_to 'New project', new_project_path %>
    </li>
  <% end %>

  <% if params[:controller] == 'tasks' && params[:action] == 'index' %>
    <li class="breadcrumb-item">
      <%= link_to @project.name, project_path(@project.slug) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to 'T창ches', tasks_path(@project.slug) %>
    </li>
  <% end %>

  <% if params[:controller] == 'tasks' && params[:action] == 'show' %>
    <li class="breadcrumb-item">
      <%= link_to @project.name, project_path(@project.slug) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to 'T창ches', tasks_path(@project.slug) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @task.name, task_path(@project.slug, @task.id) %>
    </li>
  <% end %>

  <% if params[:controller] == 'tasks' && params[:action] == 'new' %>
    <li class="breadcrumb-item">
      <%= link_to @project.name, project_path(@project.slug) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to 'T창ches', tasks_path(@project.slug) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to 'Ajouter une t창che', new_task_path(@project.slug) %>
    </li>
  <% end %>

  <% if params[:controller] == 'todos' && params[:action] == 'index' %>
    <li class="breadcrumb-item">
      <%= link_to 'Todos', todos_path %>
    </li>
  <% end %>

  <% if params[:controller] == 'todos' && params[:action] == 'show' %>
    <li class="breadcrumb-item">
      <%= link_to 'Todos', todos_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @todo.title, todo_path(@todo.id) %>
    </li>
  <% end %>
</ul>
