<div id="top_menu">
  <div class="left">
    <div class="brand">
      <%= link_to root_path do %>
        <i class="fa fa-home"></i>
      <% end %>
    </div>

    <%= render partial: 'partials/top_menu_breadcrumb' %>
  </div>

  <div class="right">
    <ul>
      <li>
        <%= link_to todos_path,
          title: 'Todos',
          class: 'badge',
          'data-badge' => current_user.todos.where(done: false).count do %>
          <i class="fa fa-tasks"></i>
        <% end %>
      </li>
      <li>
        <a href="#"><%= current_user.username %></a>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
